body {
    margin: 0;
    font-family: Consolas, monospace;
    background-color: #333; /* Dark gray background */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
    width: 60%;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: rgb(255, 165, 0); /* Solar color */
}

img {
    max-width: 60%;
    height: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}

.buttons img {
    max-width: 60px; /* Larger size */
    height: auto;
}
